<!DOCTYPE html>
<html>
  <head>
    <title>DesafioBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="img/favicon.png" />
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to root_path, class:'navbar-brand' do %>
        <div class='navbar-img'></div>
        <span>Analisador de gastos</span>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
